<!-- Header Start -->
<div class="container-fluid">
  <div class="row topbg">
    <div class="container">
      <p>
        <span style="font-size:18px;">For a chance to win free concert tickets and learn more about the SFSO, peak inside by entering your email below!</span>
      </p>
    </div>	
  </div>	
</div>
<!-- Header End -->

<% if Rails.application.config.ended %>
  <%= render "users/campaign_ended" %>
<% else %>
  <%= render "users/campaign_ongoing" %>
<% end %>

