/* CSS Document */

/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

.thankyouheaderbg{ height:500px;}
.rightbox{float:right; padding-top:20px;margin-top:80px; }
 .title{ margin-top:140px;}
.homelogo{ text-align:right; margin-top:20px;}
 
 
 /*Form Wizard*/
.bs-wizard {}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}                                                         
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #000; font-size: 15px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #000; font-size: 13px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #B28A35; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}        
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #000; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background:#B28A35;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}             
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}               
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
 
 



/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
 
.thankyouheaderbg{ height:480px;}
.rightbox{float:right; padding-top:20px;margin-top:30px; }

.title{font-size:30px;  margin-top:20px;}


.homeheaderbg2{background:#060506;height:100%;}   
.form2{ margin: 0 auto; text-align:center; margin-bottom:20px; width:700px; padding:15px; border:1px solid #fff; background:#2B2E34; margin-top:80px;}  
.purple2{ border:1px solid #B28A35; background:#B28A35; color:#fff;width:300px; padding:7px; margin-top:20px; }
.emailbox2{ border:1px solid #B28A35; width:300px; padding:7px;color:#333333; margin-top:20px; }
.photo{ width:300px; float:left;}
.formbox{ width:350px; float:left; margin-top:40px;}




 
 
 /*Form Wizard*/
.bs-wizard {}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}                                                         
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #000; font-size: 13px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #000; font-size: 13px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #B93A0D; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}        
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #000; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background:#B93A0D;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}             
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}               
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
 
 


}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
.thankyouheaderbg{ height:705px;}
.rightbox{float:right; padding-top:20px;margin-top:30px; }
  .title{font-size:22px;  margin-top:20px;}
  .bs-wizard{ width:345px;}
  .bs-wizard-stepnum { font-size:5px;}
#logo__sfso{width: 90%;}  
.homelogo{ text-align:center; margin-top:20px;}  
.leftbox{ text-align: center;}  
  
  
  
 .homeheaderbg2{background:#060506;height:100%;}   
.form2{ margin: 0 auto; text-align:center; margin-bottom:20px; width:280px; padding:15px; border:1px solid #fff; background:#2B2E34; margin-top:20px;}  
.purple2{ border:1px solid #B28A35; background:#B28A35; color:#fff;width:240px; padding:7px; margin-top:20px; }
.emailbox2{ border:1px solid #B28A35; width:240px; padding:7px;color:#333333; margin-top:20px; }
.photo{ width:260px; float:left;}
.photo img{ width:240px; }
.formbox{ width:260px; float:left; margin-top:40px;} 
  
  
  
  
  
  
  
 /*Form Wizard*/
.bs-wizard {}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}                                                         
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #000; font-size: 8px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #000; font-size: 8px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #B28A35; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}        
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #000; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 30px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background:#B28A35;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}             
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}               
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }


 
  
  
  
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
 
.thankyouheaderbg{ height:500px;}
.rightbox{float:right; padding-top:20px;margin-top:30px; }
.title{font-size:30px;  margin-top:20px;}

  .bs-wizard{ width:530px;}
  .bs-wizard .font{ font-size:8px;}  

 
 
 
 
 
 /*Form Wizard*/
.bs-wizard {}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}                                                         
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #000; font-size: 13px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #000; font-size: 13px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #B28A35; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}        
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #000; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background:#B28A35;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}             
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}               
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
 
 
 }