/* CSS Document */


body{margin:0px; padding:0px; background:#000; color:#fff;}

.homeheaderbg{background: url(new_ui/homepagebg.jpg) top center no-repeat; background-attachment:scroll;
-webkit-background-size: cover;        
-moz-background-size: cover;                          
-o-background-size: cover;                                                               
background-size: cover; height:460px;}   

.thankyouheaderbg{background: url(new_ui/headerbgthankyou.jpg) top center no-repeat; background-attachment:scroll;
-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height:430px;}                                         

.rightbox{float:right; padding-top:20px; background:#fff; border:1px solid #FF0070; margin-top:30px; opacity:.7; box-shadow:3px 3px 3px #ccc; color:#333333;} 
.leftbox{float:left; padding-top:20px; } 

.form{ margin: 0 auto; text-align:center; margin-bottom:20px; padding-top:15px;}      
           
.purple{ border:1px solid #FF0070; background:#FF0070; color:#fff;width:120px; padding:7px;}

.emailbox{ border:1px solid #FF0070; width:270px; padding:7px;color:#333333; }                                                                                                     
           
.input{padding:10px; width:260px; border:1px solid #FF0070; margin:2px 0px;}                          
                                									 
.topbg{ background:#FF0070; height:40px;color:#fff; text-align:center; padding-top:8px;}                          
               
.bs-wizard {margin-top: 0px; margin-bottom:20px;border-bottom:0px;}

img{ border:0px;}
       
.title{ font-size:40px;color:#FF6C00; font-weight:bold;  text-shadow: 2px 2px 2px #ccc;} 