/* CSS Document */


body{margin:0px; padding:0px; background:#060506; color:#fff;}



.homeheaderbg2{background:#060506;height:100%;}   
.form2{ margin: 0 auto; text-align:center; margin-bottom:20px; width:800px; padding:15px; border:1px solid #fff; background:#2B2E34; margin-top:60px;}  
.purple2{ border:1px solid #B28A35; background:#B28A35; color:#fff;width:350px; padding:7px; margin-top:20px; }
.emailbox2{ border:1px solid #B28A35; width:350px; padding:7px;color:#333333; margin-top:10px; }
.photo{ width:300px; float:left;}
.formbox{ width:460px; float:left; margin-top:40px;}






.thankyouheaderbg{background: url(new_ui//bg.jpg) top center no-repeat; background-attachment:scroll;
-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}                                         

.rightbox{ background:#fff; border:1px solid #B28A35; opacity:.9; box-shadow:3px 3px 3px #ccc; color:#333333;} 
.leftbox{float:left; padding-top:20px; } 

.form{ margin: 0 auto; text-align:center; margin-bottom:20px; padding-top:15px;}     
           
.purple{ border:1px solid #B28A35; background:#B28A35; color:#fff;width:120px; padding:7px;}

.emailbox{ border:1px solid #B93A0D; width:270px; padding:7px;color:#333333; }                                                                                                     
           
.input{padding:10px; width:260px; border:1px solid #B28A35; margin:2px 0px;}                          
                                									 
.topbg{ background:#B28A35; height:40px;color:#fff; text-align:center; padding-top:8px;}                          
               
.bs-wizard {margin-top: 0px; margin-bottom:20px;border-bottom:0px;}
.title{ font-size:40px;color:#B28A35; font-weight:bold;  text-shadow: 2px 2px 2px #fff;}

img{ border:0px;}
